<div ng-init="loadTME()">
    <div ng-show="totalMonthly.length > 0">
        <h2>Total Monthly</h2>
        <select class="form-control" name="" id="" ng-change="updateData()" ng-model="setExpense">
            <option value="">Total</option>
            <option ng-repeat="expense in expenses" value="{{expense.id}}">{{expense.name}}</option>
        </select>

        <br>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Month</th>
                <th>Cost</th>
            </tr>
            <tr ng-repeat="tm in totalMonthly">
                <td><a href="#/payments/{{$index + 1}}">{{tm.Month}}</a></td>
                <td>{{tm.Total | currency}}</td>
            </tr>
            <tr class="success">
                <th>Total:</th>
                <th>{{tmeTotal() | currency}}</th>
            </tr>
        </table>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">Data</div>
                    <div class="col-md-8"></div>
                </div>


            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-bar-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div ng-show="totalMonthly.length < 1">
        <h3 class="text-center">No Monthly Data To Display Yet.</h3>
    </div>
</div>

